<div class="jumbotron">
    <p>Bem vindo a loja do {{seller.nickName}} :)</p>


    <div class="row">
        <!--<c:forEach items="${categorias}" var="categoria">-->
        <div class="col-sm-6 col-md-4" ng-repeat="category in categories">
            <div class="thumbnail">
                <a ui-sref="viewCategory({id:category.id})"><img src="{{ category.image}}" height="400px" width="300px"></a>
                <div class="caption">
                    <h3><a ui-sref="viewCategory({id:category.id})">{{ category.name}}</a></h3>
                </div>
            </div>
        </div>
        <!--</c:forEach>-->
    </div>
</div>

<!--<script src="<c:url value="/js/jquery.min.js"/>"></script>-->
<!--<script src="<c:url value="/js/responsiveslides.min.js"/>"></script>-->