<div class="jumbotron" style="overflow: hidden;">
    <h2>{{category.name}}</h2>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{ category.image}}" height="400px" width="300px">
            </div>
            <div class="caption">
                <p>{{category.description}}</p>
            </div>
        </div>
    </div>


    <table class="table table-responsive">

        <thead>
            <tr>
                <th>Código</th>
                <th>Sexo</th>
                <th>Inspiração</th>
                <th>Tipo</th>
                <th>Intencidade</th>
                <th>Ml</th>
                <th>Valor Unit.</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="product in products">

                <td>{{product.code}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{product.price| currency:"R$ "}}</td>
                <td>
                    <form class="form-signin" name="{{product.id}}" ng-submit="submitForm(product)" ng-controller="addToCartController">
                        <button class="btn btn-sm btn-success" type="submit">Comprar</button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
</div>
