<!DOCTYPE html>
<html data-ng-app="frontApp" ng-controller="MainContoller">
    <head lang="pt-br">
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META charset="utf-8">
        <META http-equiv="X-UA-Compatible" content="IE=edge">
        <META NAME="viewport" content="width=device-width, initial-scale=1">
        <META NAME="description" CONTENT="Conheça a Alabastrum, a empresa de Marketing Multinível que vai mudar a sua vida!">
        <META NAME="keywords" CONTENT="Alabastrum, costmeticos, rio de janeiro, qualidade, marketing, Multinivel">
        <META NAME="author" CONTENT="HD Soluçoes Web">
        <META NAME="revisit-after" CONTENT="1">

        <base href="/"/>
        <title>Loja Alabastrum {{config.title}}</title>

        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/custom.css" />

    </head>
    <body>
        <!--Google Analytcs para a Loja Alabastrum-->
        <script>
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                    ga('create', 'UA-75340522-1', 'auto');
                    ga('send', 'pageview');

        </script>

        <!--login flutuante Modal-->
        <div id="loginModal" class="modal fade" role="dialog" ng-controller="LoginCustomerController">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Autenticação</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" ng-submit="submitForm()" ng-controller="authenticateCustomer">
                            <div class="form-group">
                                <div ng-if="error.message" class="alert alert-danger" role="alert" style="width: 90%; margin: auto; margin-bottom: 5px; padding: 6px 10px">
                                    <p id="error">{{error.message}}</p>
                                </div>
                                <input type="text" class="form-control header_login" placeholder="E-mail"
                                       required autofocus  ng-model="formData.email" style="width: 90%; margin: auto; margin-bottom: 2px;">
                                <input
                                    type="password" class="form-control header_login" placeholder="Senha"
                                    required ng-model="formData.password" style="width: 90%; margin: auto">
                            </div>
                            <button id="header_form_ok" type="submit" class="btn btn-default">Acessar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--MSG Modal-->
        <div id="msgModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{msg.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <p>{{msg.body}}</p>
                        </div>
                        <button id="header_form_ok"  data-dismiss="modal" class="btn btn-default">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home()"><img src="img/tamplate/logo.fw.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="home()"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="http://alabastrum.com.br/missao-visao-valores" target="site_alabastrum"><i class="fa fa-shield"></i> Sobre</a></li>
                        <li><a href="http://alabastrum.com.br/oportunidade" target="site_alabastrum"><i class="fa fa-user-plus"></i> Faça parte</a></li>
                        <li><a href="#/contact"><i class="fa fa-comments"></i> Contato</a></li>
                        <li><a ui-sref="cart()"><i class="fa fa-shopping-cart"></i> Carrinho</a></li>
                        <li ng-if="!customer"><a href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li ng-if="customer"><a ui-sref="myAccount()"><i class="fa fa-user"></i> Minha Conta ({{customer.nickName}})</a></li>
                        <li ng-if="customer"><a ui-sref="logoutCustomer()"><i class="fa fa-comments"></i> Sair</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="container theme-showcase" role="main" id="main">

            <div ui-view></div>

        </div>

        <footer class="text-center">
            <a href="/vendedor" target="vendedor">Login vendedor</a>
            || <a href="/administrador" target="administrador">Login administrador</a>
        </footer>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/angular-cookies.min.js"></script>

        <script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/frontApp.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/services.js"></script>

        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>