<div class="list-group">
    <a href="#" class="list-group-item active">Menu</a>
    <div class="list-group-item">
        <a ui-sref="myAccount()">Meu Cadastro<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a>
    </div>
    <div class="list-group-item">
        <a ui-sref="myOrders()">Meus Pedidos<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a>
    </div>
</div>