<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div ng-include="'partials/customer/customerMenu.html'"></div>
        </div>
        <div class="col-md-8">
            minha conta form
        </div>
    </div>
</div>
