<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div ng-include="'partials/customer/customerMenu.html'"></div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <h3>
                    Pedidos
                </h3>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Pedido
                            </th>
                            <th>
                                Produto(s)
                            </th>
                            <th>
                                Pagamento
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in orders" class="{{order.class}}">
                            <td>
                                {{order.id}}
                            </td>
                            <td>
                                <ul>
                                    <li ng-repeat="product in order.cart.products">
                                        <span>
                                            {{product.quantity}} x {{product.name}}
                                        </span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                {{ order.dtOrder | date:'dd/MM/yyyy'}}
                            </td>
                            <td>
                                {{order.status}}
                            </td>
                            <td>
                                <a ui-sref="order({id:order.id})">Mais datalhes</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>