<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div ng-include="'partials/customer/customerMenu.html'"></div>
        </div>
        <div class="col-md-8">
            <div class="row shop-tracking-status">

                <div class="col-md-12">
                    <div class="well">
                        <h4>Pedido nº {{order.id}}:</h4>

                        <div class="row bs-wizard" style="border-bottom:0;">

                            <div class="col-xs-3 bs-wizard-step" ng-class="{'active': !order.paid, 'complete': order.paid}">
                                <div class="text-center bs-wizard-stepnum">Pagamento</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="#" class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center" ng-if="order.paid">Pagamento confirmado dia {{ order.dtOrder | date:'dd/MM/yyyy'}}.</div>
                            </div>

                            <div class="col-xs-3 bs-wizard-step" ng-class="{'disabled': !order.paid, 'active': order.paid && !order.packaged, 'complete': order.packaged}">
                                <div class="text-center bs-wizard-stepnum">Preparação</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="#" class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center" ng-if="order.packaged">Pedido embalado dia {{ order.dtPackaged | date:'dd/MM/yyyy'}}.</div>
                            </div>

                            <div class="col-xs-3 bs-wizard-step" ng-class="{'disabled': !order.packaged, 'active': order.packaged && !order.sent, 'complete': order.sent}">
                                <div class="text-center bs-wizard-stepnum">Envio</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="#" class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center" ng-if="order.sent">Pedido enviado dia {{ order.dtSent | date:'dd/MM/yyyy'}}.</div>
                            </div>

                            <div class="col-xs-3 bs-wizard-step" ng-class="{'disabled': !order.delivered, 'active': order.delivered}">
                                <div class="text-center bs-wizard-stepnum">Entregue</div>
                                <div class="progress"><div class="progress-bar"></div></div>
                                <a href="#" class="bs-wizard-dot"></a>
                                <div class="bs-wizard-info text-center" ng-if="order.delivered">Pedido entregue dia {{ order.dtDelivered | date:'dd/MM/yyyy'}}.</div>
                            </div>

                        </div>


                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="prefix"><a href="{{boleto}}" target="boleto">Visualizar boleto</a></span>
                            </li>
                            <li class="list-group-item">
                                <span class="prefix"><strong>Produtos:</strong></span>
                                <ul>
                                    <li ng-repeat="product in order.cart.products">
                                        <span>
                                            {{product.quantity}} x {{product.name}}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <span class="prefix"><strong>Endereço de entrega:</strong><br></span>
                                <span>{{address.street}}, {{address.number}} {{address.complement}}</span><br>
                                <span>{{address.neighborhood}} - {{address.city}} - {{address.uf}}</span><br>
                                <span>CEP: {{address.zipCode}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>